<h1>Raccoon chat</h1>

<dl id="chat">
  <dt>Alice:</dt>
    <dd>Hello!</dd>
  <dt>Bob:</dt>
    <dd>To you!</dd>
</dl>

<form name="send_message">
  <label>Сообщение от <span id="nickname"></span>: <input name="message" type="text" /></label>
  <button name="send" type="button" disabled>Отправить</button>
</form>